.index_headers {
    height: 1rem;
    background-color: #363D40;
    font-size: 0.4rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.2rem;
}