* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
div {
    font-size: 0.16rem;
}
.el-table__row td:last-child .cell {
    display: flex;
    justify-content: space-around;
    align-items: center;
}