.login_wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #264A6B;
}

.login_wrap .login_from {
  width: 5rem;
  height: 3rem;
  padding: 0.2rem;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.login_wrap .username {
  margin-top: 0.8rem;
}

.login_wrap button {
  margin-top: 0.2rem;
  float: right;
  margin-right: 0.1rem;
}

.login_wrap .img {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  width: 1.4rem;
  padding: 0.1rem;
  height: 1.4rem;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
}

.login_wrap .img img {
  width: 100%;
  background: #ECEEEB;
  border-radius: 50%;
}
